.header-color{
  background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid{
  background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.avatar-image{
  height: 250px;
  padding: 5em 0 .5em 0;
  border-radius: 21% 21%;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text > h1{
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0 15%;
  display: grid;
  justify-content: center;
}

.banner-text > hr {
  border-top: 5px dotted white;
  width: 50%;
  margin:auto;
}

.banner-text > p{
  color:white;
  font-size: 20px;
  padding: 1em;
  display: grid;
  justify-content: center;
}

.social-links > a{
  color: white;
  font-size: 5em;
  padding: 8px;
}

.social-links{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin:0 12em;
}

.projects-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 10%;
  
}
/* .about-grid{
  height: 100vh;
} */


{/*Media Queries*/}


@media (min-width: 840px){
  .mdl-cell--12-col,
  .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
    width: calc(88% - 16px) !important; 
  }
  }










